body{
    background-color: #1a1a1a;
    color: white;
    font-size: 40px;
}
input{
    width: 900px;
    height: 45px;
    font-size: 40px;
}
#dial{
    overflow:clip;
    position: sticky;
    float: right;
    width: 20vw;
    padding: 1vw;
}
#rotating{
    margin-bottom: 0.3vw;
    width: 20vw;
    /* background-color: rgb(172, 0, 0); */
}
#reset{
    display: flex;
    justify-content: center;
}
button{
    width: 8vw;
    height: 1.5vw;
    background-color: rgb(182, 182, 182);
}
img{
    width: 20vw;
}
#backCircle{
    z-index: 1;
}
#numbers{
    z-index: 2;
}
#bigCircle{
    z-index: 3;
}
#stoper{
    z-index: 4;
}
span{
    display: grid;
    grid-template-columns: repeat(15,0);
}
